# Data Cleaning and Regularization
We will not talk too much about data cleaning, but will explore some basic techniques.
Mostly we assume that the data has already been cleaned for use

In [1]:
# Read in some data from a CSV file the has missing values
import pandas as pd

my_data = pd.read_csv("missing_data.csv")
print(my_data)

    magnitude  count  duration    year  all_here
0         5.0   10.0     101.0  1900.0         1
1         NaN   15.0     103.0  2001.0         2
2         6.0   20.0     101.0  2020.0         3
3         5.0    NaN       NaN  2009.0         4
4         6.0    NaN     103.0  1995.0         5
5         7.0   25.0     102.0     NaN         6
6         8.0   20.0       NaN  1928.0         7
7         1.0   25.0       NaN  1930.0         8
8         3.0   30.0     200.0  1776.0         9
9         5.0    NaN     150.0     NaN         0
10        5.0   20.0     101.0    15.0        11
11        5.0   20.0       NaN    16.0        12
12        5.0   20.0     199.0  2001.0        13

In [ ]:
## What to do if there are instances with missing data
### Get rid of the row with the missing data
Use the dropna() function
### Set the missing value to something
Use the fillna() function
### Get rid of the attibute
Use the drop() function

In [10]:
# drop a row if any value in the row is missing
data_copy_1 = my_data.copy()
data_copy_1.dropna(axis='index', how='any', inplace=True)
print(data_copy_1)

    magnitude  count  duration    year  all_here
0         5.0   10.0     101.0  1900.0         1
2         6.0   20.0     101.0  2020.0         3
8         3.0   30.0     200.0  1776.0         9
10        5.0   20.0     101.0    15.0        11
12        5.0   20.0     199.0  2001.0        13

In [11]:
# drop a row if all values in the subset are missing
data_copy_2 = my_data.copy()
data_copy_2.dropna(axis='index', how='all', subset=["count","duration"], inplace=True)
print(data_copy_2)

    magnitude  count  duration    year  all_here
0         5.0   10.0     101.0  1900.0         1
1         NaN   15.0     103.0  2001.0         2
2         6.0   20.0     101.0  2020.0         3
4         6.0    NaN     103.0  1995.0         5
5         7.0   25.0     102.0     NaN         6
6         8.0   20.0       NaN  1928.0         7
7         1.0   25.0       NaN  1930.0         8
8         3.0   30.0     200.0  1776.0         9
9         5.0    NaN     150.0     NaN         0
10        5.0   20.0     101.0    15.0        11
11        5.0   20.0       NaN    16.0        12
12        5.0   20.0     199.0  2001.0        13

In [13]:
# drop a column if any value in the column is missing
data_copy_3 = my_data.copy()
data_copy_3.dropna(axis='columns', how='any', inplace=True)
print(data_copy_3)

    all_here
0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9          0
10        11
11        12
12        13

In [17]:
# drop a specific column
data_copy_4 = my_data.copy()
data_copy_4.drop(lables="duration", axis='columns', inplace=True)
print(data_copy_4)

    magnitude  count    year  all_here
0         5.0   10.0  1900.0         1
1         NaN   15.0  2001.0         2
2         6.0   20.0  2020.0         3
3         5.0    NaN  2009.0         4
4         6.0    NaN  1995.0         5
5         7.0   25.0     NaN         6
6         8.0   20.0  1928.0         7
7         1.0   25.0  1930.0         8
8         3.0   30.0  1776.0         9
9         5.0    NaN     NaN         0
10        5.0   20.0    15.0        11
11        5.0   20.0    16.0        12
12        5.0   20.0  2001.0        13

In [6]:
# replacing missing values with the median of the column
data_copy_5 = my_data.copy()
count_median = data_copy_5["count"].median()
year_mean = data_copy_5["year"].mean()

# fillna does not have subset as an option, so use a particular column
data_copy_5["count"].fillna( value=count_median, inplace=True)
data_copy_5["year"].fillna( value=year_mean, inplace=True)

print(data_copy_5)

    magnitude  count  duration         year  all_here
0         5.0   10.0     101.0  1900.000000         1
1         NaN   15.0     103.0  2001.000000         2
2         6.0   20.0     101.0  2020.000000         3
3         5.0   20.0       NaN  2009.000000         4
4         6.0   20.0     103.0  1995.000000         5
5         7.0   25.0     102.0  1599.181818         6
6         8.0   20.0       NaN  1928.000000         7
7         1.0   25.0       NaN  1930.000000         8
8         3.0   30.0     200.0  1776.000000         9
9         5.0   20.0     150.0  1599.181818         0
10        5.0   20.0     101.0    15.000000        11
11        5.0   20.0       NaN    16.000000        12
12        5.0   20.0     199.0  2001.000000        13

In [4]:
## Filtering data rows based on a condition
## we use a slice that selects rows based on a boolean vector
data_copy_6 = my_data.copy()

count_is_20 = data_copy_6["count"] == 20
print(count_is_20)

result = data_copy_6[count_is_20]

print(result)

0     False
1     False
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10     True
11     True
12     True
Name: count, dtype: bool
    magnitude  count  duration    year  all_here
2         6.0   20.0     101.0  2020.0         3
6         8.0   20.0       NaN  1928.0         7
10        5.0   20.0     101.0    15.0        11
11        5.0   20.0       NaN    16.0        12
12        5.0   20.0     199.0  2001.0        13

In [ ]:
## Using an Imputer to monge the data